/* h1{
    color: aliceblue;
} */
.DivCate{
    color: black ;
    background: white !important;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.divSpicItem{
margin: 10px;
    border: black 2px solid;
align-items: center;
    height: 50px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
   
 .mainIntroDev{
    display: flex;

 }
 .imgregester{
width: 300px;
height: 100%;

 }
 .imgReg{
    width: 300px;
    height: 1100px;

 }
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .containerr {
    border: 1px #04aa6d solid;
    gap: 2px;
    border-radius: 36px;
    padding: 16px;
    background-color: white;
    width: 50%;
  }
  .imgCatiegory{
    width: 10%;
  }
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .pw{
    width: 20%;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }


  .reservationH1{
color: white;

  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  