.res{
    background-color: aliceblue !important;
}
.of{
   
}
body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:rgba(204, 228, 214, 0.744)  */
    /* background-color:#4a5863 !important; */
    /* background-color:rgba(42, 185, 213, 0.744) !important; */
    background-color: white;
}
.registerbtnn {
    background-color: #4a5863;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  .registerbtnmove{
    background-color: #fc310d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
  }
  .Description{
    width: 100%;
  }
  .spicImg{

width: 20%;
height: 200px

  }