.prand{
  
margin-top: 5%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 2%;
    padding: 5%;
    background-color: white;
    
}
.mainbrand{

    border: 1px mediumaquamarine solid;

}
.imgDivprand img{
width: 50%;
height: 50%;

}

.namediv p{
width: 80%;
height: 20px;
font-size: 10%;
    
}