
.conternerintroDiv{
display: flex;

    color:#3fbbc0;;

    background-image: url("./images/gallery-5.jpg");
    background-size: 100% 100%;
    height: 500px;
    justify-items: center;
    align-items: center;
    
    margin: 20px;
    
    
}

.divIntro {
border: #3fbbc0 1px solid;
width: 200px;
height: 170px;
/* gap: 50px; */
background-color: white;
border-radius: 5px;



}
div.divIntro {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  .btnIsDoc{

margin-top: 20px;

  }