
.conternerintroDiv{
display: flex;

    color:#3fbbc0;;

    background-image: url("./images/doc3.jpg");
    background-size: 100% 100%;
    height: 630px;
    justify-items: center;
    align-items: center;
    
    margin: 20px;
    
    
}
.intowelcome{
  margin-top: 4%;
  background-color: #3fbbc0;
  color: rgb(23, 13, 99);
}

.mainIntro{
  background-color: #3fbbc0;
  padding: 0%;
  margin: 0%;
}

div.divIntro {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(57, 176, 194,0.5);
  opacity: 0.6;
  height: 23%;
  cursor: pointer;
}
.divIntro {
border: #3fbbc0 1px solid;
width: 50%;
height: 30%;
/* gap: 50px; */
background-color: white;
border-radius: 5px;
margin: 20%;


}
div.divIntro {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  .btnIsDoc{

margin-top: 20px;

  }