.containerr{
    margin-top: 2%;
}
.divmain{
display: flex;
margin-top: 5%;
flex-wrap: wrap;
}
.react-calendar{
/* height: 500px; */

}

#UpdateResevation{
    background-color: #0c035b;
    color: white;
    /* padding: 16px 20px; */
    margin: 8px 1px;
    border: none;
    cursor: pointer;
    width: 46% ;
    opacity: 0.9;
    text-align: center;
    
}

#deleteResevation{
    background-color: #ab1212;
    color: white;
    /* padding: 16px 20px; */
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 46% ;
    opacity: 0.9;
text-align: center;
}
.resDisplay{

    border: 1px green solid;
}

.text-center{
    background-color: white;
    border: green 2px solid;
}
.spanres{
    color: red;
}
.reservationH1{

    margin: 0%;
     
        /* background-color: rgba(255, 187, 0, 0.87); */
        background-color: #04496c;
    
}